{% for linux_host in ansible_play_hosts |sort %}
    Hostname: {{hostvars[linux_host]['inventory_hostname']}}
    System: {{hostvars[linux_host]['ansible_os_family']|default("none")}} {{hostvars[linux_host]['ansible_distribution_version']|default("none")}}
            
{% if hostvars[linux_host].dnf_update_status.changed|default("false",true) == true %}
Packages and Updates:
{% for packagename in hostvars[linux_host].dnf_update_status.results|sort %}
{{ packagename }}
{% endfor %}

{% elif hostvars[linux_host].dnf_update_status.changed is undefined %}
Patching Failed

{% else %}
Compliant

{% endif %}
{% endfor %}
